################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
RI/Quest/0 Scars of Destruction Tradeskill/HarvestWWastes.dat
RI/Quest/0 Scars of Destruction Tradeskill/HarvestWWastes copy.dat
RI/Quest/0 Scars of Destruction Tradeskill/HarvestWastesShiny.dat
RI/Quest/0 Scars of Destruction Tradeskill/HarvestWastesShiny copy.dat
RI/Quest/0 Scars of Destruction Tradeskill/HarvestSoddenTimeline.dat
RI/Quest/0 Scars of Destruction Tradeskill/HarvestSoddenShinyTimeline.dat
RI/Quest/0 Scars of Destruction Tradeskill/HarvestSoddenShiny.dat
RI/Quest/0 Scars of Destruction Tradeskill/HarvestSodden.dat
RI/Quest/0 Scars of Dstruction Adventure/BlackhookWarRuneDrop.dat
RI/Quest/0 Scars of Dstruction Adventure/BlackhookWarRuneKill.dat
RI/Quest/0 Scars of Dstruction Adventure/BlackhookWarRuneofGnawingPickup.dat
RI/Quest/0 Scars of Dstruction Adventure/ChetariBloodRuneofSmearing.dat
RI/Quest/0 Scars of Dstruction Adventure/ChetariBloodRuneofWounds.dat
RI/Quest/0 Scars of Dstruction Adventure/ChetariRuneDrop.dat
RI/Quest/0 Scars of Dstruction Adventure/ChetariRuneKills.dat
RI/Quest/0 Scars of Dstruction Adventure/EnemiesBlackhookKills.dat
RI/Quest/0 Scars of Dstruction Adventure/EnemiesKromzek.dat
RI/Quest/0 Scars of Dstruction Adventure/HarvestWWastes.dat
